body{
    background-color: #dddddd;
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif; 
}

h2{
    font-family: 'Georgia', Times, Times New Roman, serif; 
    color:#4aaaa5;
}

#navbar{
    width:960px;
    margin:auto;
    height: 125px;
}

#white{
    width:100%;
    border-bottom:#cccccc;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    height: 99px;
    background-color: white;
    z-index: 2;
}

.name{
    background-color: #4aaaa5;
    color: white;
    padding: 10px;
    width: 340px;
    text-align: center;
    float: left;
}

.links{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    padding: 40px;
    float: right;
    color: #777777;
}

.information{
   clear:both;
   width:920px;
   margin: auto;
   background-color: white;
   margin-top: 20px;
   padding: 20px;
   overflow: auto;
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   color: #777777;
}

footer{
    clear:both;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    background-color: #666666;
    border-top-style: solid;
    border-top-width: 10px;
    border-top-color: #4aaaa5;
    margin-top: 30px;
    color: #777777;
}

.profile{
    clear: both;
    width: 150px;
    height: 150px;
    float: left;
    padding-right: 5px;
}

p{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

.container{
    position: relative;
    text-align: center;
    color: white;
    float: left;
    margin: 5px;
}

.portfolioheader{
    background-color: #4aaaa5;
    padding: 10px;
    width: 280px;
    position: absolute;
    bottom: 2px;
}

.portfolioimage{
    width: 300px;
    height: 250px;
}
